.ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.li {
  display: block;
  margin: 10px 0 0;
}

.li:first-child {
  margin: 0;
}

.a {
  display: block;
  padding: 16px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: var(--background-primary);
  color: var(--text-primary);
}
