.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
}

.item {
  display: block;
  margin: 0 10px 0 0;
}

.button {
  display: block;
  margin: 0;
  padding: 0 1em;
  background: transparent;
  border: 1px solid white;
  outline: 0;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.button:hover {
  background: white;
  color: var(--primary-color);
}
